.ButtonPart {
    border-radius: 40px;
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
}

.ButtonPart button {
    border-radius: 20px;
    margin: 5px 5px 5px 5px;
}

audio {
    width: 300px;
}

.RowQuestion .div1 {
    background-color: antiquewhite;
    border-radius: 40px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    display: grid;
    padding: 10px;
}